<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HexaIdea Tools</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel="stylesheet" href="../css/lightslider.css">
</head>

<body>
    <!-- max600px-background -->
    <div class="background"><img src="../images/bg-header.png" alt=""></div>
    <!-- min600px-background -->
    <div class="background-desktop"><img src="../images/bg-header-desktop.png" alt=""></div>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="../images/navbar-brand.png" alt=""></a>
            <button class="navba
            r-toggler me-auto" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Kategori
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Windows Tools</a></li>
                            <li><a class="dropdown-item" href="#">Linux Tools</a></li>
                            <li><a href="#" class="dropdown-item">Android Tools</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Dukung Kami</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Tentang Kami</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <!-- HEADER START -->
    <header class="container">
        <div class="row">
            <div class="text-head col-md-6">
                <h1>HexaIdea Tools</h1>
                <p>Cari tool - tool populer yang banyak digunakan orang
                    Dari mulai yang <b>gratis</b> sampai dengan <b>berbayar</b> .</p>
                <h6>Pilih Kategori :</h6>
                <div class="btn-group" role="group" aria-label="Basic example">

                    <a class="btn btn-primary"><img src="../images/win-logo.png" alt=""> Windows</a>
                    <a class="btn btn-primary"><img src="../images/linux-logo.png" alt=""> Linux</a>
                    <a class="btn btn-primary"><img src="../images/android-logo.png" alt=""> Android</a>
                </div>
            </div>
            <div class="tools-image col-md-6">
                <img src="../images/19198869.png" alt="">
            </div>
        </div>
    </header>


    <section class="container">

        <div class="popular-tools">
            <h4>Populer</h4>

            <ul id="autoWidth" class="cs-hidden">
                <li class="item-a">
                    <div class="card" style="width: 14rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title app-name">Figma</h5>
                            <p class="card-text app-description">Some quick example text to build on the card title and
                                make up
                                the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Download</a>
                        </div>
                    </div>
                </li>
                <li class="item-b">
                    <div class="card" style="width: 14rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title app-name">Adobe XD</h5>
                            <p class="card-text app-description">Some quick example text to build on the card title and
                                make up
                                the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Download</a>
                        </div>
                    </div>
                </li>
                <li class="item-c">
                    <div class="card" style="width: 14rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title app-name">Visual Studio Code</h5>
                            <p class="card-text app-description">Some quick example text to build on the card title and
                                make up
                                the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Download</a>
                        </div>
                    </div>
                </li>
                <li class="item-d">
                    <div class="card" style="width: 14rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title app-name">Card title</h5>
                            <p class="card-text app-description">Some quick example text to build on the card title and
                                make up
                                the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Download</a>
                        </div>
                    </div>
                </li>
                <li class="item-e">
                    <div class="card" style="width: 14rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title app-name">Adobe Photoshop</h5>
                            <p class="card-text app-description">Some quick example text to build on the card title and
                                make up
                                the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Download</a>
                        </div>
                    </div>
                </li>
                <li class="item-f">
                    <div class="card" style="width: 14rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title app-name">Card title</h5>
                            <p class="card-text app-description">Some quick example text to build on the card title and
                                make up
                                the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Download</a>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- Jquery -->
    <script src="../js/JQuery3.3.1.js"></script>
    <!-- js slider -->
    <script src="../js/lightslider.js"></script>
    <script src="../js/main.js"></script>
    <!-- js bootstrap -->
    <script src="../bootstrap/js/bootstrap.min.js"></script>
</body>

</html>